<div class="container">

	<!-- slideUp / slideDown -->
	<div class="left">
		<div class="btn" id="btn1">slideUp</div>
		<div id="test1">
			<p>slideUp</p>
		</div>
	</div>

	<!-- color変更 -->
	<div class="left">
		<div class="btn" id="btn2">color</div>
		<div id="test2">
			<p>color</p>
		</div>
	</div>

	<!-- text変更 -->
	<div class="left">
		<div class="btn" id="btn3">text</div>
		<div id="test3">
			<p>text</p>
		</div>
	</div>

	<!-- html変更 -->
	<div class="left">
		<div class="btn" id="btn4">html</div>
		<div id="test4">
			<p>html</p>
		</div>
	</div>

	<!-- this -->
	<div class="left">
		<ul>
			<li class="test5"><p>this</p></li>
			<li class="test5"><p>this</p></li>
		</ul>
	</div>

	<!-- find変更 -->
	<div class="left">
		<div class="btn" id="btn6">find</div>
		<div id="test6">
			<p><span>find</span><span>find</span></p>
		</div>
	</div>

		<!-- children変更 -->
	<div class="left">
		<div class="btn" id="btn7">children</div>
		<div id="test7">
				<p>children</p>
			<div class="inline">
				<p>children</p>
			</div>
		</div>
	</div>

	<!-- hover -->
	<div class="left">
		<ul id="btn8">
			<li class="test8"><p>this</p></li>
			<li class="test8"><p>this</p></li>
		</ul>
	</div>






</div>