<div class="container">
<div class="left">
	<div class="btn" id="btn1">slideUp</div>
	<div id="test1">
		<p>slideUp</p>
	</div>
</div>

<div class="left">
	<div class="btn" id="btn2">color</div>
	<div id="test2">
		<p>color</p>
	</div>
</div>
</div>